/* 
【Layout】
役割: ページの主要な骨格（ヘッダー、フッター、メインコンテンツエリア、サイドバーなど）はこのレイアウトを指定します。
命名: クラス名頭に「l-」を付ける。 
例: .l-header, .l-footer, .l-main, .l-sidebar
*/

body{
    overflow-x: hidden; //X軸のスクロールを許可しない
}

.l-header {
    width: 100%;
    height: 116px;
    top: 0;
    left: 0;
    display: flex;
    position: absolute; // 1. ヘッダーを浮かせる
    align-items: center;
    padding: 16px 20px;
    background-color: #F0FFF480;
}

.l-kv{
    width: 100%;
    height: 100vh; // 画面いっぱいの高さ
    background-image: url("../img/backgroundImage1.jpeg");
    background-color: #D2DCD2;
    background-repeat: no-repeat;
    background-size: cover; // 横幅いっぱいに表示する
    // ★ここを追加：Flexboxで子要素を真ん中に寄せる
    display: flex;           // フレックスボックスにする
    justify-content: center; // 横方向の真ん中
    align-items: center;     // 縦方向（高さ）の真ん中
}

.l-profile {
    display: flex;
    flex-direction: column; // 縦並びにする
    align-items: center;
    background-color: #D2DCD2;
    padding-bottom:260px;
}

.l-contents{
    background-color: #FAF0E6;
    display: flex;
    flex-direction: column; // 1. 中身を「縦並び」にする
    align-items: center;    // 2. ★縦並びの時の「横方向の中央揃え」

}

.l-footer {
    background-color: #DDCCC5;
    // padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    // height: 630px;
    position: relative;
    z-index: 50;
}   