/* 
【Layout】
役割: ページの主要な骨格（ヘッダー、フッター、メインコンテンツエリア、サイドバーなど）はこのレイアウトを指定します。
命名: クラス名頭に「l-」を付ける。 
例: .l-header, .l-footer, .l-main, .l-sidebar
*/


.l-header {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    background-color: #F0FFF480;
    height: 116px;

}

.l-profile {
    display: flex;
    flex-direction: column; // 縦並びにする
    align-items: center;
}

.l-footer {

}